Repository nile27/Slid-to-do-Refactoring, pull requests merged in 2025-09, with the labels that each got.

#14 [Refactor] 노트 모아보기 목표 select
  public/notes/down-fill.svg
  src/__tests__/goals/goals-header.test.tsx
  src/app/notes/page.tsx
  src/components/goals/goal-header.tsx
Labels: Refactor

#16 [Fix, Test] hasmore로딩스피너 수정 및 테스트 코드 작성
  src/__tests__/goals/goals.test.tsx
  src/__tests__/hooks/infinite-scroll.test.tsx
  src/__tests__/notes/write.test.tsx
  src/components/common/hasmore-loading.tsx
Labels: bug, Fix, Test

#20 [Test] input test 수정
  src/__tests__/common/input-form.test.tsx
  src/__tests__/dashboard/dashboard.test.tsx
Labels: Test
